.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.menu-burger {
    padding: 1rem;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 10px;
    display: none;
}

.menu-and-logo {
    display: flex;
    gap: 20px;
}

.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__rotulo {
    width: 100%;
    height: 100%;
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.container__titulo {
    display: none;
}

.lista-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    position: absolute;
    top: 100%;
    width: 55vw;
    z-index: 10;
    transition: all 200ms ease-in-out;
}

.lista-menu.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.dropdown-menu {
    position: relative;
}

.dropdown-menu:hover {
    background: var(--azul-degrade);
    color: var(--cor-branco);
}

.lista-menu-desktop {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--cor-branco);
    transition: all 200ms ease-in-out;
}

.dropdown-menu:hover .lista-menu-desktop {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.lista-menu-desktop__item {
    padding: 1rem;
}

.lista-menu-desktop__item:hover {
    background: var(--azul-degrade);
}

.lista-menu-desktop__item:hover .lista-menu__link {
    background: var(--cor-branco);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

.opcoes__item {
    height: 100%;
}

@media screen and (min-width: 1024px) {

    .logo-container {
        display: block;
    }

    .menu-and-logo {
        display: none;
    }

    .container__titulo,
    .container__titulo--negrito {
        display: inline-block;
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-degrade);
        color: var(--cor-branco);
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 2em 1em;
        text-transform: uppercase;
    }

    .opcoes__item:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--cor-preta);
    }

    .opcoes__link:hover {
        text-decoration: underline;
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

}

@media screen and (min-width: 1728px) {

    .menu-burger {
        display: none;
    }

    .container__texto {
        display: block;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preta);
        font-size: 20px;
        padding: 0 2.5em 0 0;
    }

    .opcoes {
        margin: auto auto auto 3em;
        font-size: 16px;
    }

    .container__texto:hover {
        text-decoration: underline;
    }
}