.hr-rodape {
    margin: 0;
}

.rodape {
    background-color: var(--cor-branco);
    /* border-top: 1px solid var(--cor-cinza); */
    padding: 1em;
}

.rodape__container {
    display: none;
}

.vl {
    display: none;
}

@media screen and (min-width: 1024px) {

    .rodape__container {
        display: block;
    }
    
    .rodape__titulo {
        font-size: 24px;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 2em;
        
    }

    .rodape__lista__titulo{
        font-size: 14px;
        color: var(--cor-cinza);
        text-transform: uppercase;
        margin-bottom: 2em;
    }

    .rodape__item {
        display: flex;
        align-items: center;
        padding: .5em;
    }

    .rodape__link {
        text-decoration: none;
        color: var(--cor-cinza2);
        margin: 0 .5em;
    }

}

@media screen and (min-width: 1728px) {

    .rodape__titulo {
        padding: 0 0 0 5em;
    }
    
    .rodape__container {
        border-left: 1px solid var(--cor-cinza);
        padding: 0 1em;
    }

}